
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.header-background {
    background-color: lightblue;
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 100%);
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: #333;
    text-align: center;
    overflow: hidden;
    z-index: 1;
}

.navbar a {
    color: white;
    padding: 20px 10px;
    text-decoration: none;
}

.navbar a {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

#my-skills{
    display: grid;
    margin: 0 auto;
    gap: 4rem 1rem;
    max-width: 60rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

#my-skills div:hover i {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  
#skills{

    padding: 5em;
}

i{
    font-size: 3.25rem;
}

section {
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.about-card {
    background-color: #ffbbbb;
    max-width: 100%;
    min-height: 12em;
    width: 25em;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
}

.profile-photo {
    max-width: 100%; 
    height: auto;
}

#my-work .projects {
    width: 100%;
    display: grid;
    margin: 0 auto;
    gap: 2rem 1rem;
    align-items: center;
    justify-content: center;
    max-width: 75rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.project-card {
    width: 24rem;
    height: 24rem;
    max-width: 90svw;
    overflow-y: auto;
    box-sizing: border-box;
    /* padding: 1.25rem; */
    margin: 0 auto 0.875rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-card img{
    width: 24rem;
    height: 12rem;
    display: block;
    max-width: 90svw;
    max-height: 45svw;
    user-select: none;
    color: transparent;
    pointer-events: none;
    margin-bottom: 1.125rem;
}

.project-card i{
    color: black;
    font-size: 2em;
   
}

.project-card img {
    transition: transform 0.3s ease;
  }
  
  .project-card:hover img {
    transform: scale(1.05);
  }
  
#contact {
    background-color: lightblue;
    margin-top: 2rem;
    padding: 2rem 0;
    position: absolute;
    width: 100%;
}

#contact a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: darkblue;
    border-radius: 5px;
}

#contact h1{
    padding: 0.8em;
}

#contact p{
    margin-bottom: 2rem;
    font-size: larger;
}

h1,h2{
    margin: 0.2em;
    text-align: center;
    word-wrap: break-word;
    overflow-y: auto;
}

h3{
    font-weight: lighter;
    word-wrap: break-word;
    overflow-y: auto;
}

h1{
   padding: 3.75rem;
   font-size: 2em;
}

h1 i{
    font-size: 2.25rem;
}

.links{
    display: flex;
    gap: 1em;
    float: right;
    padding: 1em;
}




@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .fade-in-section {
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.3s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  #contact a {
    animation: pulse 2s infinite;
  }
  
/* Adjusts layout for tablets and below */
@media (max-width: 768px) { 
    #about {
      flex-direction: column; 
      text-align: center; 
    }
  
    .about-card h2, .about-card h3 {
        font-size: medium; 
      }
    .profile-photo, .about-card {
      width: 90%; 
      margin: 0 auto; 
    }
  
    .about-card {
      padding: 10px; 
    }
  }
  /*for mobile phones */
  @media (max-width: 480px) { 
    .profile-photo {
      height: auto; 
    }

    .about-card h2, .about-card h3 {
        font-size: medium; 
      }
  }